
/*About*/
.about{
  background-color: #fff;
  padding: 15px;
  .down-click{
    position: relative !important;
    bottom: 0;
  }
  @media all and (min-width: $screen-sm){

  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){
    height: 100%;
    .container{
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .down-click{
      position: absolute !important;
      margin: auto;
      left: 0;
      right: 0;
      top: 85%;
      /* bottom: 70px; */
      height: 74px !important;
    }
  }
  @media all and (min-width: $screen-xlg){
    .container{
      .about-box{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 455px;
      }
    }
  }
}
/*About content*/
.about-inner{
  padding-top: 35px;
  padding-bottom: 100px;
  .about-inner--content{
    position: relative;
    background-color: #171717;
    background-image: url(../images/about-us.png);
    background-size: contain;
    background-repeat: no-repeat;
    .about-inner--content_inner{
      width: 90%;
      margin: auto;
      padding-top: 75px;
      padding-bottom: 75px;
      p{
        text-align: justify;
        font-family: "Din";
        @include light;
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
      }
    }
  }
  .about-inner--img{
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media all and (min-width: $screen-sm){
    .about-inner--content{
      height: 420px;
      .about-inner--content_inner{
        width: 90%;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 0px;
      }
    }
    .about-inner--img{
      height: 420px;
    }
  }
  @media all and (min-width: $screen-md){
    .about-inner--content{
      .about-inner--content_inner{
        width: 85%;
        padding-top: 45px;
      }
    }
  }
  @media all and (min-width: $screen-lg){
    padding-bottom: 0px;
    .about-inner--content{
      .about-inner--content_inner{
        width: 75%;
        padding-top: 60px;
      }
    }
  }
  @media all and (min-width: $screen-xlg){
    padding-bottom: 0px;
    .about-inner--content{
      height: 450px;
      .about-inner--content_inner{
        width: 75%;
        padding-top: 90px;
      }
    }
    .about-inner--img{
      height: 450px;
    }
  }
}

/*Our team*/
.our-team{
  background-color: #171717;
  background-image: url(../images/our-team-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  .our-team--inner{
    padding-top: 100px;
    /*padding-bottom: 150px;*/
  }
  @media all and (min-width: $screen-sm){

  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){
    /*height: 100%;*/
    .our-team--inner{
      /*      height: 445px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            padding-top: 0px;
            padding-bottom: 0px;*/
    }
  }
  @media all and (min-width: $screen-xlg){
    .our-team--inner{
      /*height: 600px;*/
    }
  }
}

/*Owl carousel*/
.owl-carousel {
  .owl-wrapper {
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
    /*left: -169px !important;*/
  }
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
  .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    &.autoHeight {
      -webkit-transition: height 500ms ease-in-out;
      -moz-transition: height 500ms ease-in-out;
      -ms-transition: height 500ms ease-in-out;
      -o-transition: height 500ms ease-in-out;
      transition: height 500ms ease-in-out;
    }
  }
  .owl-item {
    float: left;
  }
}
/* display none until init */
.owl-controls {
  .owl-page, .owl-buttons div {
    cursor: pointer;
  }
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel {
  .owl-wrapper, .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}

/*Team member*/
.team-member{
  /*background-color: #000;*/
  padding: 35px;
  padding-bottom: 160px;
  .team-member--img{
    height: 305px;
    width: 265px;
    margin: auto;
    float: none;
    img{
      height: 305px;
      width: 265px;
    }
  }
  .team-member--details{
    position: relative;
    margin: auto;
    float: none;
    width: 265px;
    background-color: #000;
    padding: 15px;
    border-top: 1px solid #023e1f;
    @include transition(.3s);
    h4{
      margin: 0;
      text-transform: uppercase;
      color: #fff;
      font-family: "Din";
      @include black;
      @include transition(.2s);
      span{
        @include medium;
      }
    }
    ul{
      padding-left: 0px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 15px;
      height: 40px;
      li{
        list-style: none;
        a{
          color: #fff;
          @include transition(.2s);
        }
      }
    }
  }
  .team-member--details_content{
    width: 265px;
    margin: auto;
    float: none;
    position: relative;
    background-color: #000;
    color: #fff;
    top: 0;
    padding: 15px;
    z-index: -1;
    @include transition(.3s);
    p{
      font-family: "Din";
      @include light;
      font-size: 13px;
      margin-bottom: 0;
      text-align: justify;
    }
  }
  .member-line{
    width: 1px;
    height: 440px;
    background-color: #023e1f;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -2;
    top: 0;
    @include transition(.2s);
  }
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    @include transition(.3s);
    .team-member--details{
      border-color: #009046;
      @include transition(.2s);
      h4{
        color: #fff;
        @include transition(.2s);
      }
      ul{
        li{
          a{
            color: #fff;
            @include transition(.2s);
            &:hover{
              color: #009046;
            }
          }
        }
      }
    }    
    .team-member--details_content{
      @include transition(.3s);
    }
    .member-line{
      background-color: #009046;
      @include transition(.2s);
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
    .team-member--details{
      h4{
        color: #232325;
      }
      ul{
        li{
          a{
            color: #232325;
          }
        }
      }
    }
    .team-member--details_content{
      position: absolute;
      top: 287px;
      margin: auto;
      left: 0;
      right: 0;
    }
    &:hover{
      .team-member--details_content{
        top: 392px;
        z-index: -1;
        @include transition(.3s);
      }
    }
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
  }
  @media all and (min-width: $screen-xlg) {
    // Desktop
    .member-line{
      height: 600px;
    }
  }
}

/*Button next prev*/
.team-button{
  border: 1px solid #232325;
  @include border-radius(12px);
  position: absolute;
  width: 68px;
  margin: auto;
  /*margin-top: 28px;*/
  bottom: 60px;
  left: 0;
  right: 0;
  a{
    color: #038040 !important;
  }
}

/*Vision mission*/
.vision-mission{
  background-color: #fff;
  position: relative;
  @media all and (min-width: $screen-sm) {
    // Tablet
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    /*height: 100%;*/
  }  
}

/*Vision mission inner*/
.vision-mission--inner{
  padding-top: 100px;
  padding-bottom: 100px;
  h3{
    color: #fff;
    text-transform: uppercase;
    font-family: "Din";
    @include black;
    font-size: 30px;
    margin: 0;
  }
  .vision-mission--inner_vision{
    background-color: #171717;
    background-image: url(../images/vision-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 5%;
  }
  .vision-mission--inner_mission{
    background-color: #222222;
    background-image: url(../images/mission-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 5%;
  }
  .vision-mission--line{
    width: 100%;
    height: 1px;
    background-color: #009046;
    display: flex;
    /*margin-left: -5px;*/
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
    .vision-mission--inner_vision{
      height: 391px;
      padding: 90px 5%;
    }
    .vision-mission--inner_mission{
      height: 391px;
      padding: 90px 5%;
    }
    .vision-mission--line{
      width: 1px;
      height: 398px;
      background-color: #009046;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      top: -28px;
      height: 442px;
    }
  }  
  @media all and (min-width: $screen-md) {
    // Laptop
    .vision-mission--inner_vision{
      height: 370px;
      padding: 90px 5%;
    }
    .vision-mission--inner_mission{
      height: 370px;
      padding: 90px 5%;
    }
    .vision-mission--line{
      height: 430px;
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    /*position: absolute;*/
    /*    height: 370px;
        margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding-top: 0px;
            padding-bottom: 0px;*/
    h2{
      font-size: 30px;
    }
    .vision-mission--inner_vision{
      padding: 118px 7%;
    }
    .vision-mission--inner_mission{
      padding: 118px 7%;
    }
  }
  @media all and (min-width: $screen-xlg) {
    height: 400px;
    .vision-mission--inner_vision{
      height: 400px;
      padding: 145px 7%;
    }
    .vision-mission--inner_mission{
      height: 400px;
      padding: 145px 7%;
    }
    .vision-mission--line {
      height: 455px;
    }
  }
}

/*Clients*/
.clients{
  background-color: #171717;
  background-image: url(../images/clients-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 100px;
  .client-details{
    h4{
      color: #fff;
      text-transform: uppercase;
      font-family: "Din";
      @include black;
      text-align: center;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 3px;
    }
    h5{
      color: #fff;
      text-transform: lowercase;
      font-family: "Din";
      @include light;
      text-align: center;
      font-size: 15px;
      margin: 0;
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
  }
  @media all and (min-width: $screen-xlg) {
    // Desktop
  }
}

/*Clients slider*/

.slick-slide {
  margin: 0px 20px;
  img {
    width: 100%;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track, .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*Get in touch*/
.get-in-touch{
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
  overflow: hidden;
  h3{
    font-family: "Din";
    color: #232325;
    @include black;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 18px;
    text-align: center;
  }
  .btn-project{
    border: 2px solid #009046;
    @include border-radius(0px);
    font-size: 18px;
    font-family: "Din";
    color: #009046;
    @include black;
    padding: 15px;
    text-transform: uppercase;
    margin: auto;
    display: table;
    @include transition(.2s);
    &:hover{
      color: #fff;
      background-color:  #009046;
      @include transition(.2s);
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
    h3{
      text-align: right;
    }
    .btn-project{
      display: inline-block;
    }
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
  }  
}
