/*Blog*/
.blog{
  padding: 15px;
  .blog-head{
    padding-top:25px;
    padding-bottom: 20px;
    h1{
      font-family: "Din";
      @include black;
      text-transform: uppercase;
      margin: 0;
      font-size: 50px;
      color: #222222;
    }
  }
  @media all and (min-width: $screen-sm) {
    .blog-head{
      padding-top:100px;
      padding-bottom: 75px;
      h1{
        font-size: 75px;
      }
    }
  }
  @media all and (min-width: $screen-md) {
    // Tablet
    .blog-head{
      h1{
        font-size: 100px;
      }
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    padding-top: 0;
    .blog-head{
      h1{
        font-size: 125px;
      }
    }
  }
}

/*Blog contents background*/
.blog-background{
  position: absolute;
  width: 100%;
  height: 80%;
  top: 90px;
  z-index: -1;
  background-image: url(../images/blog-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-contents{
  position: relative;
}

/*Blog contents*/
.blog-content--container{
  position: relative;
  margin-bottom: 35px;
  .blog-content--container_img{
    height: 200px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .blog-content--container_details{
    position: relative;
    background-color: #000000;
    padding: 50px 5%;
    a{
      h2{
        margin-top: 0;
        margin-bottom: 25px;
        text-transform: uppercase;
        color: #fff;
        font-family: "Din";
        @include black;
        @include transition(.2s);
        font-size: 19px;
        &:hover{
          color: #009046;
          @include transition(.2s);
        }
      }
    }
    p{
      font-family: "Din";
      @include medium;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
    }
    ul{
      padding-left: 0px;
      margin-top: 20px;
      margin-bottom: 0px;
      li{
        display: inline-block;
        font-family: "Din";
        @include light;
        text-transform: capitalize;
        color: #fff;
        font-size: 14px;
      }
      .date{
        float: right;
        color: #009046;
        font-size: 13px;
      }
    }
    .blog-read--more{
      text-transform: capitalize;
      margin-top: 10px;
      font-size: 14px;
      font-family: "Din";
      color: #009046;
      @include light;
      @include transition(.3s);
      display: block;
      &:hover{
        color: #fff;
        @include transition(.3s);
      }
    }
  }
  @media all and (min-width: $screen-sm){
    margin-bottom: 60px;
    padding: 30px;
    .blog-line--v{
      height: 1px;
      background-color: #009046;
      position: absolute;
      width: 100%;
      margin: auto;
      left: 0;
      top: 50%;
    }
    .blog-content--container_img{
      height: 270px;
    }
    .blog-content--container_details{
      position: relative;
      background-color: #000000;
      height: 270px;
      padding: 36px 5%;
      .blog-line--h{
        position: absolute;
        width: 1px;
        height: 118%;
        top: -9%;
        left: 0;
        background-color: #009046;
      }
    }
  }
  @media all and (min-width: $screen-md){
    margin-bottom: 90px;
    .blog-line--v{
      left: 0;
    }
    .blog-content--container_img{
      height: 300px;
    }
    .blog-content--container_details{
      height: 300px;
      padding: 50px 5%;
    }
  }
  @media all and (min-width: $screen-lg){
    .blog-content--container_img{
      height: 350px;
    }
    .blog-content--container_details{
      height: 350px;
      padding: 85px 5%;
    }
  }
}

/*Blog buttons*/
.blog-buttons{
  padding-bottom: 45px;
  ul{
    padding-left: 0px;
    margin-bottom: 0px;
    width: 275px;
    margin: auto;
    li{
      display: inline-block;
      a{
        text-transform: uppercase;
        padding: 8px 15px;
        color: #fff;
        font-family: "Din";
        @include black;
        font-size: 15px;
        @include transition(.2s);
      }
    }
    .right{
      float: right;
      a{
        background-color: #009046;
        &:hover{
          color: #009046;
          background-color: #fff;
          @include transition(.2s);
        }
      }
    }
    .left{
      a{
        background-color: #c2c2c2;
        &:hover{
          color: #009046;
          background-color: #fff;
          @include transition(.2s);
        }
      }
    }
  }
  @media all and (min-width: $screen-sm){
    padding-bottom: 75px;
    ul{      
      width: 400px;
      li{
        a{
          padding: 8px 20px;
        }
      }
    }
  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){

  }
}