/*Services single*/
.contact{
  background-color: #fff;
  padding: 15px;
  .down-click{
    position: relative !important;
    bottom: 0;
  }
  @media all and (min-width: $screen-sm){

  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){
    height: 100%;
    .container{
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .down-click{
      position: absolute !important;
      margin: auto;
      left: 0;
      right: 0;
      top: 85%;
      /* bottom: 70px; */
      height: 74px !important;
    }
  }
  @media all and (min-width: $screen-xlg){
    .container{
      .contact-box{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 450px;
      }
    }
  }
}


/*COntact inner*/
.contact-box--inner{
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;
  .contact-box--inner_content{
    background-color: #171717;    
    background-image: url(../images/contact-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    .contact-content{
      padding: 50px 5%;
      h1{
        color: #009046;
        font-family: "DINBlack";
        /*@include black;*/
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 15px;
        text-transform: uppercase;
        z-index: 2;
      }
      p{
        color: #fff;
        font-family: "DINMedium";
        /*@include medium;*/
        font-size: 13px;
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: justify;
        z-index: 2;
      }
    }
  }
  .contact-box--inner_click{
    background-color: #222222;
    position: relative;
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
    padding-top: 35px;
    padding-bottom: 100px;
    .contact-bg{
      position: absolute;
      width: 100%;
      height: 405px;
      background-image: url(../images/contact-bg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 1;
      top: 0;
    }
    .contact-box--inner_content{
      background-image: none;
      height: 370px;
      .contact-content{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 40px 6%;
        h1{
          font-size: 34px;
        }
      }
    }
    .contact-box--inner_click{
      height: 370px;
    }
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
    .contact-bg{
      height: 435px;
    }
    .contact-box--inner_content{
      height: 400px;
      .contact-content{
        padding: 50px 6%;
        h1{
          font-size: 38px;
        }
      }
    }
    .contact-box--inner_click{
      height: 400px;
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    padding-bottom: 0;
    .contact-bg{
      height: 100%;
    }
    .contact-box--inner_content{
      height: 420px;
      .contact-content{
        padding: 50px 6%;
        h1{
          font-size: 45px;
        }
      }
    }
    .contact-box--inner_click{
      height: 420px;
    }
  }
  @media all and (min-width: $screen-xlg) {
    // Desktop
    .contact-box--inner_content{
      height: 450px;
      .contact-content{
        padding: 55px 7%;
        h1{
          font-size: 45px;
        }
      }
    }
    .contact-box--inner_click{
      height: 450px;
    }
  }
}

/*Form click*/
.form-click{
  width: 100%;
  height: 100%;
  padding: 50px 0;
  z-index: 2;
  h1{
    color: #fff;
    font-family: "DINBlack";
    /*@include black;*/
    text-transform: uppercase;
    text-align: center;
  }
  .round-one{
    width: 75px;
    height: 75px;
    background-color: #363636;
    margin: auto;
    position: relative;
    @include border-radius(50px);
    .round-two{
      height: 50px;
      width: 50px;
      background-color: #4a4948;
      @include border-radius(50px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      .round-three{
        width: 30px;
        height: 30px;
        background-color: #222222;
        @include border-radius(50px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
    position: absolute;
    padding: 115px 0;
    h1{
      font-size: 50px;
    }
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
    padding: 124px 0;
    h1{
      font-size: 50px;
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    padding: 130px 0;
    h1{
      font-size: 50px;
    }
  }
}

/*Map address*/
.map-adderss{
  border-bottom: 1px solid #009046;
  .map-address--map{
    #map{
      width: 100%;
      height: 250px;
    }
  }
  .map-address--address{
    background-color: #222222;
    text-align: center;
    padding: 30px 5%;
    .map-address--address_mail{
      color: #fff;
      font-family: "DINMedium";
      /*@include medium;*/
      font-size: 25px;
      @include transition(.2s);
      margin-bottom: 3px;
      display: block;
      &:hover{
        color: #009046;
        @include transition(.2s);
      }
    }
    .map-address--address_tel{
      color: #fff;
      font-family: "DINMedium";
      /*@include medium;*/
      font-size: 25px;
      @include transition(.2s);
      margin-bottom: 3px;
      display: block;
      &:hover{
        color: #009046;
        @include transition(.2s);
      }
    }
    p{
      color: #c5c3c3;
      font-family: "DINMedium";
      /*@include medium;*/
      font-size: 17px;
      margin-bottom: 0;
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
    .map-address--map{
      #map{
        width: 100%;
        height: 350px;
      }
    }
    .map-address--address{
      text-align: right;
      height: 350px;
      padding: 50px 5%;
      p{
        font-size: 19px;
      }
    }
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
    .map-address--address{
      padding: 50px 5%;
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop  
    .map-address--address{
      padding: 50px 8%;
    }  
  }
}