header{
  // Mobile
  padding-top: 25px;
  padding-bottom: 15px;
  .navbar-brand{
    padding: 0px !important;
  }
  .logo img{
    width: 167px;
  }
  .header-right{
    float: right;
  }
  .header-right{
    text-align: right;
  }
  .header-right--cantact{
    margin-top: 15px;
    padding-left: 0px;
    display: inline-block;
    li{
      display: inline-block;
      padding-left: 22px;
      a{
        color: #000;
        font-family: "DINRegular";
        /*@include extra-light;*/
        @include commen-size;
        @include transition(.3s);
        &:hover{
          text-decoration: none;
          color: #009046;
          @include transition(.3s);
        }
        .fa{
          color: #009046;
          padding-right: 10px;
        }
      }
    }
  }
  @media all and (min-width: $screen-sm) {
    padding-top: 60px;
    .header-right--cantact{
      margin-right: 85px;
    }
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
  }
}

header{
  .header-right--cantact_home{
    li{
      a{
        color: #fff;
      }
    }
  }
}

/*Fixed menu*/
.nav-fixed{
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 50px;
  .nav-container{
    position: relative;
    .header-right--menu{
      right: 0px;
    }
  }
  @media all and (min-width: $screen-sm) {
    top: 70px;
    .nav-container{
      .header-right--menu{
        right: 21px;
      }
    }
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
    .nav-container{
      .header-right--menu{
        right: 14px;
      }
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    .nav-container{
      .header-right--menu{
        right: 5px;
      }
    }
  }
  @media all and (min-width: $screen-xlg) {
    // Desktop
    .nav-container{
      .header-right--menu{
        right: 0px;
      }
    }
  }
}

/*Fixed nav inner*/
.nav-fixed-inner{
  top: 50px !important;
  .nav-container{
    .header-right--menu{
      right: -15px !important;
    }
  }
  @media all and (min-width: $screen-sm) {
    top: 70px !important;
    .nav-container{
      .header-right--menu{
        right: 5px !important;
      }
    }
  }
  @media all and (min-width: $screen-md) {
    // Tablet
    .nav-container{
      .header-right--menu{
        right: 0px !important;
      }
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    top: 55px !important;
  }
}