
@include font-face(DINRegular, "../fonts/DINRegular");
@include font-face(DINLight, "../fonts/DINLight");
@include font-face(DINBlack, "../fonts/DINBlackAlternate");
@include font-face(DINBold, "../fonts/DINBold");
@include font-face(DINMedium, "../fonts/DINMedium");

/*Hero design*/
.hero{
  // Mobile
  background-color: #090909;
  padding: 15px;
  .hero-inner{
    background-color: #fff;
    position: relative;
    padding-bottom: 100px;
    .container{
      width: 100%;
      position: relative;
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
    .hero-inner{
      .container{
        width: 720px;
      }
    }
  }
  @media all and (min-width: $screen-md) {
    // Laptop
    .hero-inner{
      .container{
        width: 945px;
      }
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
    height: 100%;
    .hero-inner{
      height: 100%;
      padding-bottom: 0px;
      .container{
        width: 1160px;
      }
    }
  }
  @media all and (min-width: $screen-xlg) {
    // Desktop
    height: 100%;
    .hero-inner{
      height: 100%;
      .container{
        width: 1300px;
        position: relative;
        height: 100%;
      }
    }
  }
}

/*Hero inner social icons*/
.hero-inner--social{
  ul{
    padding-left: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
    li{
      list-style: none;
      display: inline-block;
      a{
        width: 40px;
        height: 40px;
        display: block;
        border: 1px solid #000;
        font-size: 20px;
        padding: 5px 0;
        text-align: center;
        color: #000;
        @include border-radius(100%);
        @include transition(.3s);
        &:hover{
          color: #fff;
          border-color: #009046;
          background-color: #009046;
          @include transition(.3s);
        }
      }
    }
  }
  @media all and (min-width: $screen-sm){

  }  
  @media all and (min-width: $screen-md){
    ul{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      margin: auto;
      height: 100px;
      li{
        margin: 9px 0;
        display: block;
        a{
          width: 40px;
          height: 40px;
        }
      }
    }
  }  
}

/*Hero services inner design*/
.hero-inner--box{
  .hero-inner--box_services{
    padding-top: 35px;
  }
  @media all and (min-width: $screen-sm){

  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){

  }
  @media all and (min-width: $screen-xlg){
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 535px;
  }
}

/*Hero services slider*/
.services-slider{
  .services-slider--item_one{
    background-color: #2d2e30;
  }
  .services-slider--item_two{
    background-color: #222223;
  }
  .services-slider--item_three{
    background-color: #161614;
  }
  .services-slider--item_four{
    background-color: #0a0a0a;
  }
  @media all and (min-width: $screen-sm){
    .services-slider--item{
      height: 200px;
    }
  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){

  }
  @media all and (min-width: $screen-xlg){
    .services-slider--item{
      height: 250px;
    }
  }
}

/*Line*/
.line{
  width: 100px;
  height: 3px;
  background: #fff;
}

/*Service slider content*/
.services-slider--item{
  position: reflative;
  overflow: hidden;
  h1{
    color: #fff;
    font-family: "DINMedium";
    /*@include medium;*/
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 28px;
  }
  .services-slider--item_head{
    position: relative;
    @include transition(.3s);
    padding: 20px 15px;
  }
  .services-slider--item_content{
    display: none;
    p{
      color: #fff;
      font-family: "DINLight";
      /*@include extra-light;*/
      @include transition(.3s);
      line-height: 14px;
      margin-top: 5px;
    }
  }
  @media all and (min-width: $screen-sm){
    h1{
      font-size: 30px;
      line-height: 34px;
    }
    .services-slider--item_head{
      position: absolute;
      top: 50px;
      padding: 0 15px;
    }    
    .services-slider--item_content{
      display: block;
      position: absolute;
      padding: 0px 15px;
      opacity: 0;
      top: 0px;
      @include transition(.3s);
    }
    &:hover{
      .services-slider--item_head{
        top: 15px;
        @include transition(.3s);
      }
      .services-slider--item_content{       
        opacity: 1;
        top: 95px;
        @include transition(.3s);
      }
    }
  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){

  }
}
/*Hero services image*/
.services-images{
  text-align: center;
  background-color: #2d2e30;
  overflow: hidden;
  .btn-project{
    background-color: transparent;
    @include border-radius(0px);
    border: 2px solid #fff;
    color: #fff;
    font-family: "DINLight";
    /*@include light;*/
    font-size: 13px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    width: 135px;
    margin: auto;
    &:hover{
      border-color: #009046;
      background-color: #009046;
      color: #fff;
    }
  }
  @media all and (min-width: $screen-sm){
    height: 400px;
  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){

  }
  @media all and (min-width: $screen-xlg){
    height: 500px;
  }
}

/*Right side*/
.words {
  color: #2d2e30;
  font-size: 0;
  line-height: 1;
  span {
    font-family: "DINBlack";
    font-size: 70px;
    display: inline-block;
    animation: move 2s ease-in-out infinite;
    &:nth-child(2) { animation-delay: 0.5s; }
    &:nth-child(3) { animation-delay: 1.0s; }
    &:nth-child(4) { animation-delay: 1.5s; }
    &:nth-child(5) { animation-delay: 2.0s; }
    &:nth-child(6) { animation-delay: 2.5s; }
    &:nth-child(7) { animation-delay: 3.0s; }
    &:nth-child(8) { animation-delay: 3.5s; }
    &:nth-child(9) { animation-delay: 4.0s; }
    &:nth-child(10) { animation-delay: 4.5s; }
    &:nth-child(11) { animation-delay: 5.0s; }
  }
}
.word-top{
  padding-top: 60px;
}

@keyframes move {
  0% {
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(black, 0.6);
  }
  100% {
    transform: translate(33%, 0);
  }
}