/*Portfolio*/
.portfolio{
  background-color: #fff;
  padding: 15px;
  .down-click{
    position: relative !important;
    bottom: 0;
  }
  @media all and (min-width: $screen-sm){

  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){
    height: 100%;
    .container{
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .down-click{
      position: absolute !important;
      margin: auto;
      left: 0;
      right: 0;
      top: 85%;
      /* bottom: 70px; */
      height: 74px !important;
    }
  }
  @media all and (min-width: $screen-xlg){
    .container{
      .portfolio-box{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 455px;
      }
    }
  }
}
/*About content*/
.portfolio-inner{
  padding-top: 25px;
  padding-bottom: 30px;
  .portfolio-inner--content{
    position: relative;
    background-color: #171717;
    background-image: url(../images/portfolio.svg);
    background-size: contain;
    background-repeat: no-repeat;
    .portfolio-inner--content_inner{
      width: 90%;
      margin: auto;
      padding-top: 75px;
      padding-bottom: 75px;
      p{
        text-align: justify;
        font-family: "Din";
        @include medium;
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
      }
    }
  }
  .portfolio-inner--img{
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media all and (min-width: $screen-sm){
    padding-top: 35px;
    padding-bottom: 100px;
    .portfolio-inner--content{
      height: 420px;
      .portfolio-inner--content_inner{
        width: 90%;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 0px;
      }
    }
    .portfolio-inner--img{
      height: 420px;
    }
  }
  @media all and (min-width: $screen-md){
    .portfolio-inner--content{
      .portfolio-inner--content_inner{
        width: 85%;
        padding-top: 45px;
      }
    }
  }
  @media all and (min-width: $screen-lg){
    padding-bottom: 0px;
    .portfolio-inner--content{
      .portfolio-inner--content_inner{
        width: 75%;
        padding-top: 60px;
      }
    }
  }
  @media all and (min-width: $screen-xlg){
    padding-bottom: 0px;
    .portfolio-inner--content{
      height: 450px;
      .portfolio-inner--content_inner{
        width: 75%;
        padding-top: 90px;
      }
    }
    .portfolio-inner--img{
      height: 450px;
    }
  }
}

/*Porfolio section*/
.portfolio-section{
  background-color: #171717;
  background-image: url(../images/portfolio-content--bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 35px;
  @media all and (min-width: $screen-sm) {
    // Tablet
    padding-top: 50px;
  }
}

.portfolio-section_box{
  padding: 0 5px !important;
}
/*Portfolio list*/
.portfolio-section--list{
  text-align: center;
  margin-bottom: 25px;
  border-bottom: none;
  li{
    display: inline-block;
    float: none;
    a{
      text-transform: uppercase;
      padding: 15px 8px;
      font-family: "Din";
      @include light;
      font-size: 14px;
      color: #959595;
      &:hover{
        background-color: transparent !important;      
        border-color: transparent !important;
        color: #009046 !important;
      } 
      &:focus{
        background-color: transparent !important;      
        border-color: transparent !important;
        color: #009046 !important;
      }
    }
  }
  .active{
    a{
      background-color: transparent !important;      
      border-color: transparent !important;
      color: #009046 !important;
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
    li{
      a{
        padding: 15px;
      }
    }
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
  }
}
/*Portfolio tabs*/
.portfolio-section--tabs{
  .tab-pane{
    width: 100%;
    .tab-pane--inner{ 
      overflow: hidden;
      .tab-pane--inner_portfolio{
        width: 100%;
        overflow-x: hidden;
        padding-bottom: 20px;
        &::-webkit-scrollbar {
          height: 10px;
          border: 2px solid #222222;
          @include border-radius(15px);
        }
        &::-webkit-scrollbar-track {
          /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
        }
        &::-webkit-scrollbar-thumb {
          background-color: #009046;
          @include border-radius(15px);
        }   
      }
    }
  }
  @media all and (min-width: $screen-sm) {
    // Tablet
  }  
  @media all and (min-width: $screen-md) {
    // Tablet
  }
  @media all and (min-width: $screen-lg) {
    // Desktop
  }
}

/*Portfolio images*/
.portfolio-images{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  width: auto;
  display: inline-flex;
  li{
    display: inline-block;
    width: 160px;
    height: 118px;
    margin: 0 2px;
    position: relative;
    @include transition(.5s);
    img{
      @include filter(grayscale(100%));
      @include transition(.5s);
      z-index: 1;
      &:hover{
      }
    }
    .layer{
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 10px;
      @include transition(.5s);
      h4{
        text-transform: uppercase;
        color: #fff;
        font-family: "Din";
        @include black;
        font-size: 15px;
        margin: 0;
        display: inline-block;
        span{
          @include light;
        }
      }
      img{
        vertical-align: super;
        float: right;
        visibility: hidden;
        @include transition(.5s);
      }
    }
    &:hover{
      .layer{
        bottom: 10px;
        background-color: #009046;
        @include transition(.5s);
        img{
          visibility: visible;
          @include transition(.5s);
        }
      }
      img{
        z-index: 9;
        @include filter(grayscale(0%));
        @include transition(.5s);
      }
    }
  }
  @media all and (min-width: $screen-sm) {
    li{
      width: 210px;
      height: 156px;
    }

  }  
}

/*************************/

.click {
  transition: 0.5s;
  &:hover {
    cursor: pointer;
  }
}

.hidden, .show {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #444;
  z-index: 10;
  transition: 0.5s;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  transform: scale(0);
}

.column div .show, #nav div .show {
  opacity: 1;
  width: 100%;
  height: 100%;
  font-size: 1em;
  transform: scale(1);
  cursor: default;
  line-height: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
    /*@include border-radius(10px);*/
  }
  &::-webkit-scrollbar-thumb {
    background-color: #009046;
    @include border-radius(10px);
  }
}

.show{
  .inner-content{
    .inner-content--top{
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
      background-color: #171717;
      .image_video{
        position: relative;
        width: 75%;
        margin: auto;
        img{
          width: 100%;
          @include filter(grayscale(0));
        }
      }
    }
    .inner-content--content{
      padding-top: 50px;
      padding-bottom: 50px;
      .inner-content--content_box{
        width: 75%;
        margin: auto;
        h2{
          font-family: "Din";
          text-transform: uppercase;
          @include black;
          color: #171717;
          margin-top: 0;
          margin-bottom: 5px;
          font-size: 34px;
        }
        h3{
          font-family: "Din";
          text-transform: uppercase;
          @include light;
          color: #171717;
          margin-top: 0;
          margin-bottom: 25px;
          font-size: 24px;
        }
        p{
          font-family: "Din";
          text-transform: uppercase;
          @include medium;
          font-size: 15px;
          text-align: justify;
        }
        .visit-click{
          margin-top: 15px;
          color: #009046;
          font-family: "Din";
          @include bold;
          text-transform: uppercase;
          font-size: 16px;
          @include transition(.2s);
          &:hover{
            color: #171717;
            @include transition(.2s);
          }
        }
      }
    }
  }
  @media all and (min-width: $screen-sm){
    .inner-content{
      .inner-content--top{
        padding-top: 50px;
        padding-bottom: 0px;
        height: 425px;
        .image_video{
          width: 65%;
          img{            
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .inner-content--content{
        padding-top: 110px;
        padding-bottom: 50px;
        .inner-content--content_box{
          width: 65%;
        }
      }
    }

  }
  @media all and (min-width: $screen-md){
    .inner-content{
      .inner-content--top{
        height: 390px;
        .image_video{
          width: 55%;
        }
      }
      .inner-content--content{
        .inner-content--content_box{
          width: 55%;
        }
      }
    }
  }
  @media all and (min-width: $screen-lg){
    .inner-content{
      .inner-content--top{
        height: 475px;
        .image_video{
          width: 50%;
        }
      }
      .inner-content--content{
        padding-top: 130px;
        .inner-content--content_box{
          width: 50%;
        }
      }
    }
  }
  @media all and (min-width: $screen-xlg){
    .inner-content{
      .inner-content--top{
        height: 675px;
      }
    }
    .inner-content--content{
      padding-top: 150px;
    }
  }
}


.column img.thumb, #nav img.thumb {
  float: left;
  padding-right: 10px;
  width: 50%;
}
.column{
  .click{
    .hidden{
      display: block !important;
    }
    .wrapper{
      position :relative;
      img{
        width: 100%;
        height: 100%;
      }
      .card-tittle{
        width: 100%;
        position: absolute;
        padding: 8px 12px;
        background-color: transparent;
        bottom: 8px;
        @include transition(.3s);
        img{
          position: absolute;
          width: 28px;
          height: 28px;
          right: 12px;
          top: 0px;
          bottom: 0;
          margin: auto;
          opacity: 0;
          @include transition(.3s);
        }
        h4{
          font-family: "Din";
          @include black;
          color:  #fff;
          text-transform: uppercase;
          margin: 0;
          font-size: 15px;
        }
        h5{
          font-family: "Din";
          @include medium;
          color:  #fff;
          text-transform: uppercase;
          margin: 0;
          font-size: 16px;
        }
      }
      &:hover{
        .card-tittle{
          background-color: #009046;
          bottom: 12px;
          @include transition(.3s);
          img{
            @include transition(.3s);
            opacity: 1;
          }
        }
      }
    }
  }
  /*  @media all and (min-width: $screen-sm){
      .click{
        .wrapper{
          height: 109px;
          .card-tittle{
            h4{
              font-size: 15px;
            }
            h5{
              font-size: 16px;
            }
            img{
              width: 21px;
              height: 21px;
            }
          }
        }
      }
    }
    @media all and (min-width: $screen-md){
      .click{
        .wrapper{
          height: 150px;
          .card-tittle{
            h4{
              font-size: 17px;
            }
            h5{
              font-size: 13px;
            }
            img{
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
    @media all and (min-width: $screen-lg){
      .click{
        .wrapper{
          height: 200px;
        }
      }
    }*/
}

.close {
  margin-top: 50px;
  margin-right: 0px;
  width: 40px;
  height: 40px;
  display: block;
  border: 2px solid #fff;
  @include border-radius(50px);
  padding: 8px;
  font-size: 0;
  opacity: 1;
  img{
    width: 100%;
    @include border-radius(50px);    
  }
  @media all and (min-width: $screen-sm){
    margin-top: 50px;
    margin-right: 50px;
  }
  @media all and (min-width: $screen-md){

  }
  @media all and (min-width: $screen-lg){

  }
}

.blurry {
  -webkit-filter: brightness(1.5) saturate(0);
  opacity: 0.2;
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (min-width: 769px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

/* Again, you’re free to use and define the classes: */

.size-1of1 {
  width: 100%;
}

.size-1of2 {
  width: 50%;
}

.size-1of3 {
  width: 33.333%;
}


/************//*************/


.tab-pane--inner{
  .left{
    position: absolute;
    z-index: 8;
    left: 0;
    width: 50px;
    height: 480px;
    bottom: 24px;
    button{
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      right: 0;
      background-color: rgba(0, 144, 70, 0.44);
      border: none;
      text-align: center;
      @include border-radius(50px);
      @include transition(.2s);
      .fa{
        color: rgba(255, 255, 255, 0.53);
        font-size: 32px;
      }
      &:focus{
        border: none;
        outline: none;
      }
      &:hover{
        background-color: #009046;
        @include transition(.2s);
        .fa{
          color: #fff;
        }
      }
    }
  }

  .right{
    position: absolute;
    z-index: 8;
    right: 0;
    width: 50px;
    height: 480px;
    bottom: 24px;
    button{
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      left: 0;
      background-color: rgba(0, 144, 70, 0.44);
      border: none;
      text-align: center;
      @include border-radius(50px);
      @include transition(.2s);
      .fa{
        color: rgba(255, 255, 255, 0.53);
        font-size: 32px;
      }
      &:focus{
        border: none;
        outline: none;
      }
      &:hover{
        background-color: #009046;
        @include transition(.2s);
        .fa{
          color: #fff;
        }
      }
    }
  }
  @media all and (min-width: $screen-sm) {
    .left{
      button{
        width: 50px;
        height: 100%;
        top: 0;
        @include border-radius(0px);
      }
    }
    .right{
      button{
        width: 50px;
        height: 100%;
        top: 0;
        @include border-radius(0px);
      }
    }
  }  
  @media all and (min-width: $screen-md) {

  }
  @media all and (min-width: $screen-lg) {

  }
}